@model StateVM

<div class="card shadow border-0 my-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2"> @(Model.State.Id != 0 ? "Update" : "Create") StatePagination</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form method="post" class="row" enctype="multipart/form-data">
            <input asp-for="State.Id" hidden />
            <div class="row">
                <div class="col-12">
                    <div class="border p-3">
                        @*<div asp-validation-summary="ModelOnly"></div>*@
                        <div class="form-floating py-2 col-12">
                            <input asp-for="State.StateName" class="form-control border-0 shadow" />
                            <label asp-for="State.StateName" class="ms-2"></label>
                            <span asp-validation-for="State.StateName" class="text-danger"></span>
                        </div>

                        <div class="form-floating py-2 col-12">
                            <select asp-for="@Model.State.CountryId" asp-items="@Model.CountryList" class="form-select border-0 shadow">
                                <option disabled selected>--Select State--</option>
                            </select>
                            <label asp-for="State.CountryId" class="ms-2"></label>
                            <span asp-validation-for="State.CountryId" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="State.IsActive"></label>
                            <input asp-for="State.IsActive" type="checkbox" value="true" checked />
                        </div>

                        <div class="row pt-2">
                            <div class="col-6 col-md-3">
                                @if (Model.State.Id != 0)
                                {
                                    <button type="submit" class="btn btn-primary form-control">Update</button>

                                }
                                else
                                {
                                    <button type="submit" class="btn btn-primary form-control">Create</button>
                                }
                            </div>
                            <div class="col-6 col-md-3">
                                <a asp-controller="State" asp-action="Index" class="btn btn-outline-primary border  form-control">
                                    Back to List
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>