<h1> Validation </h1>

<div>
   
       @*  worked string;-

        [Display(Name = "Price for 50+")]

        [Range(1, 1000, ErrorMessage = "Please enter a value between 1 and 1000")]

        [StringLength(60, MinimumLength = 3)]

        [DataType(DataType.Date)]
        [DisplayFormat(DataFormatString = "{0:yyyy-MM-dd}", ApplyFormatInEditMode = true)]
        [DisplayFormat(DataFormatString = "{0:d}", ApplyFormatInEditMode = true)]

        [DataType(DataType.PhoneNumber)]
        [RegularExpression(@"^\(?([0-9]{3})\)?[-. ]?([0-9]{3})[-. ]?([0-9]{4})$", ErrorMessage = "Invalid Phone number")]
        [StringLength(13, MinimumLength = 10)]
        [RegularExpression(@"^(0|91)?[6-9][0-9]{9}$", ErrorMessage = "Invalid Mobile Number.")]
        [RegularExpression(@"^([\+]?33[-]?|[0])?[1-9][0-9]{8}$", ErrorMessage = "Invalid Mobile Number.")]

        [StringLength(50)]
        [DataType(DataType.EmailAddress)]
        [RegularExpression(@"[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}", ErrorMessage = "Invalid Email Address")]
        public string? Email { get; set; }

        [Required(ErrorMessage = "Please enter the product URL.")]
        [RegularExpression(@"^(https?:\/\/)?([\da-z\.-]+)\.([a-z\.]{2,6})([\/\w \.-]*)*\/?$",
        ErrorMessage = "Please enter a valid URL.")]
        public string? WebSite { get; set; }

        [Display(Name = "Joining Date")]
        [DataType(DataType.Date)]
        [DisplayFormat(DataFormatString = "{0:yyyy-MM-dd}", ApplyFormatInEditMode = true)]
        public DateTime JoiningDate { get; set; }

        [DataType(DataType.Password)]
        [Display(Name = "Confirm password")]
        [Compare("Password", ErrorMessage = "The password and confirmation password do not match.")]
        public string ConfirmPassword { get; set; }
        

        [AllowedExtensions(new string[] {".jpg",".png",".jpeg"})]
        public IFormFile? Image {get; Set;}


        Connectionn String:-
        {
        "Logging": {
        "LogLevel": {
        "Default": "Information",
        "Microsoft.AspNetCore": "Warning"
        }
        },
        "AllowedHosts": "*",
        "ConnectionStrings": {

        "defaultconnection": "Server=HARDIK\\SQLEXPRESS;Database=ProductManagment;Trusted_Connection=True;Encrypt=False;"

        }
        }

        "ConnectionStrings": {
        "defaultconnection": "Server=DESKTOP-9R8TEGB;Database=ProductManagment;Persist Security Info=True;User ID=sa;Password=test@123;Trusted_Connection=True;Encrypt=False;"

        Scafflod Link:-
    Scaffold-DbContext "Server=HARDIK\SQLEXPRESS;Database=ProductManagment;Trusted_Connection=True;Encrypt=False;" Microsoft.EntityFrameworkCore.SqlServer -OutputDir Models  -DataAnnotations -f
        *@

</div>

    </p>
</div>

<h1>Task List</h1>

